.header-nav {
  height: 100px;
  padding: 20px;
  line-height: 60px;
  color: white;
  background-color: #a67439;
}

.header-title{
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

ul {
  margin: 0;
  margin-top:10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  line-height: normal;
}

.nav-btn{
  width: auto;
  color: white;
}

@media (min-width: 350px) {
  .header-title{
    font-size: 1.5em;
    font-weight: bold;
  }
}

@media (min-width: 700px) {
  .header-title{
    font-size: 3em;
    font-weight: bold;
  }
  .nav-btn{
    width: 200px;
  } 
}