@import url(https://fonts.googleapis.com/css?family=Lato:300|Montserrat:700,400);

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  overflow-y: scroll;
  background-color: #a67439;
}

.color-green {
  color: #4dd68e;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
a:hover {
  color: #5a2b19;
}

.color-red{
  color: #e45354;
}

.color-blue{
  color:#2c9ffb;
}

.color-green {
  color: #23f686;
}